.carousel-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.carousel {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-30rem) rotateY(0deg);
  transition: transform 1s;
}

.carousel__cell {
  position: absolute;
  width: 20rem;
  height: 20rem;
  line-height: 20rem;
  font-size: 2rem;
  text-align: center;
  color: white;
  background: gray;
  border-radius: 50%;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.carousel__cell:nth-child(1) { transform: rotateY(0deg) translateZ(30rem); }
.carousel__cell:nth-child(2) { transform: rotateY(51.4deg) translateZ(30rem); }
.carousel__cell:nth-child(3) { transform: rotateY(102.8deg) translateZ(30rem); }
.carousel__cell:nth-child(4) { transform: rotateY(154.2deg) translateZ(30rem); }
.carousel__cell:nth-child(5) { transform: rotateY(205.6deg) translateZ(30rem); }
.carousel__cell:nth-child(6) { transform: rotateY(257deg) translateZ(30rem); }
.carousel__cell:nth-child(7) { transform: rotateY(308.4deg) translateZ(30rem); }

.carousel-label {
  position: absolute;
  top: 85%;
  transform: translateY(-200%);
  font-size: 2rem;
  color: white;
  text-align: center;
}
