---
export interface Props {
  sections: { id: string; title: string }[];
}

const { sections } = Astro.props;
---

<nav class="absolute top-4 left-1/2 transform -translate-x-1/2 z-10">
  <ul class="flex space-x-4 text-sm">
    {sections.map((section) => (
      <li>
        <a
          href={`#${section.id}`}
          class="nav-item text-gray-500 hover:text-white transition duration-300"
        >
          {section.title}
        </a>
      </li>
    ))}
  </ul>
</nav>